<div class="form-group">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>证书编号</th>
                    <td colspan="4">{{id}}</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="text-nowrap" scope="row">姓名</th>
                    <td colspan="4">{{name}}</td>
                  </tr>
                  <tr>
                    <th class="text-nowrap" scope="row">性别</th>
                    <td colspan="4">{{sex}}</td>
                  </tr>
                  <tr>
                    <th class="text-nowrap" scope="row">出生日期</th>
                    <td colspan="4">{{birthday}}</td>
                  </tr>
                  <tr>
                    <th class="text-nowrap" scope="row">起止时间</th>
                    <td colspan="4">{{start_end}}</td>
                  </tr>
                  <tr>
                    <th class="text-nowrap" scope="row">院校</th>
                    <td colspan="4">{{schoole}}</td>
                  </tr>
                  <tr>
                    <th class="text-nowrap" scope="row">专业</th>
                    <td colspan="4">{{major}}</td>
                  </tr>
                  <tr>
                    <th class="text-nowrap" scope="row">学制</th>
                    <td colspan="4">{{len_schooling}}</td>
                  </tr>
                  <tr>
                    <th class="text-nowrap" scope="row">学历</th>
                    <td colspan="4">{{education}}</td>
                  </tr>
                  <tr>
                    <th class="text-nowrap" scope="row">院（校）长</th>
                    <td colspan="4">{{header}}</td>
                  </tr>
                  <tr>
                    <th class="text-nowrap" scope="row">颁发日期</th>
                    <td colspan="4">{{issuedate}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>